<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../../../../lib/pkp/lib/vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="../../../lib/pkp/tests/phpunit-bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         failOnWarning="false"
         failOnDeprecation="false">
    <testsuites>
        <testsuite name="CSV Import Plugin Tests">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Shared CSV Import Library Tests">
            <directory>shared/tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">classes</directory>
            <directory suffix=".php">shared</directory>
        </include>
        <exclude>
            <directory>tests</directory>
            <directory>vendor</directory>
        </exclude>
    </source>

    <coverage>
        <report>
            <html outputDirectory="tests/coverage/html"/>
            <text outputFile="tests/coverage/coverage.txt" showOnlySummary="false"/>
            <clover outputFile="tests/coverage/clover.xml"/>
        </report>
    </coverage>
</phpunit>
